{% capture listItems %}
{% for item in collections[settings.collection_categories_template].products limit: settings.collection_categories_template_limit %}
<div role="listitem" class="products_collection-item w-dyn-item">
                      <div data-w-id="bb14d527-9282-2aa5-db4c-9260f9d5b300" class="products_collection-card">
                        <div class="prodcuts_collection-image"><img src="{{ item.featured_image | img_url: 'master' }}" loading="lazy" alt="{{ item.title }}" class="products_image-main" data-commerce-type="variation-image" srcset="{{ item.featured_image | img_url: '1920x' }} 1920w,{{ item.featured_image | img_url: '1600x' }} 1600w,{{ item.featured_image | img_url: '1366x' }} 1366w,{{ item.featured_image | img_url: '1024x' }} 1024w,{{ item.featured_image | img_url: '768x' }} 768w,{{ item.featured_image | img_url: '640x' }} 640w"><img src="{{ item.metafields.udesly['secondary-image'].src }}" loading="lazy" alt="{{ item.title }}" class="products_image-secondary"></div>
                        <div class="margin-vertical margin-large">
                          <div class="products_details-align">
                            <h3>{{ item.title }}</h3>
                            <h3 data-commerce-type="variation-price" class="text-align-right">{{ item.price | money }}</h3>
                          </div>
                        </div>
                        <a href="#" class="button-secondary outlined w-button">view details</a>
                      </div>
                      <div class="products_collection-drawer">
                        <div data-w-id="93e57a87-405c-1f66-cf3b-bd3ca46868fb" class="products_drawer-close"></div>
                        <div class="products_drawer-wrapper"><img src="{{ 'close-button.svg' | asset_url }}" loading="lazy" data-w-id="784e38ef-6a00-43d9-fc48-1c645cfdc855" alt="Close icon" class="products_drawer-close-icon">
                          <div class="products_drawer-title">
                            <h3>{{ item.title }}</h3>
                            <h3 data-commerce-type="variation-price">{{ item.price | money }}</h3>
                          </div>
                          <div class="products_drawer-content">
                            <div class="products_drawer-images"><img src="{{ item.featured_image | img_url: 'master' }}" loading="lazy" alt="{{ item.title }}" class="products_drawer-main-image" data-commerce-type="variation-image" srcset="{{ item.featured_image | img_url: '1920x' }} 1920w,{{ item.featured_image | img_url: '1600x' }} 1600w,{{ item.featured_image | img_url: '1366x' }} 1366w,{{ item.featured_image | img_url: '1024x' }} 1024w,{{ item.featured_image | img_url: '768x' }} 768w,{{ item.featured_image | img_url: '640x' }} 640w">
                              <div class="products_drawer-more-collection w-dyn-list" udesly-repeater="true" data-commerce-type="more-images">
                                {%- unless setItems.size == 0 -%}<div role="list" class="products_drawer-more-list w-dyn-items">
                                  {%- for setItem in setItems -%}<div role="listitem" class="products_drawer-more-item w-dyn-item"><img src="{{ setItem.more-images }}" loading="lazy" alt="" class="products_drawer-more-image"></div>{%- endfor -%}
                                </div>{%- endunless -%}
                              </div>
                            </div>
                            <div id="w-node-b7fb6125-93d1-7665-f442-c39ad8d1ee43-64b2713d" class="products_drawer-text">
                              <div class="products_text-top">
                                {%- form "product", item, data-node-type: "commerce-add-to-cart-form", class: "w-commerce-commerceaddtocartform products_default" -%}
                                  {%- unless item.has_only_default_variant or product.variants.size == 1 -%}<div data-node-type="add-to-cart-option-list" class="prodcuts_option-wrapper" id="" position-id="0031f219-29b9-273b-f745-7203259956cc" template-part-bind="0031f219-29b9-273b-f745-7203259956cc">{%- for option in item.options_with_values -%}<fieldset data-node-type="add-to-cart-option" class="prodcuts_option" id="" template-part-bind="0031f219-29b9-273b-f745-7203259956cd" style="{% if item.has_only_default_variant or product.variants.size == 1 %}display: none; {% endif %}"><div data-node-type="block" class="margin-bottom margin-xsmall" id="" template-part-bind="7561141a-486a-4412-6f0c-8e34d76b3b58"><h4 data-node-type="heading" class="uppercase" id="" template-part-bind="2f2673d2-075c-9a95-3557-4253569da6a5"></h4></div><select data-node-type="add-to-cart-option-select" class="products_option-select w-select" id="" template-part-bind="0031f219-29b9-273b-f745-7203259956cf" style="display: none;" name="{{ "option" | append: forloop.index }}">{%- render "product-options", option: option -%}</select><div data-node-type="add-to-cart-option-pill-group" class="button-group w-commerce-commerceaddtocartoptionpillgroup" id="" template-part-bind="0031f219-29b9-273b-f745-7203259956d0" aria-label="{{ "option" | append: forloop.index  }}">{%- for value in option.values -%}<div data-node-type="add-to-cart-option-pill" class="button-2 w-commerce-commerceaddtocartoptionpill" id="" template-part-bind="0031f219-29b9-273b-f745-7203259956d1" data-option-name="{{ value | handle }}"><div data-node-type="block" id="" template-part-bind="0031f219-29b9-273b-f745-7203259956d2">{{ value }}</div></div>{%- endfor -%}</div></fieldset>{%- endfor -%}</div>{%- endunless -%}<div position-id="af5f765c-537d-0dee-f1a3-1d02e6d85551" class="products_quantity-wrapper">
                                    <div class="margin-bottom margin-xsmall">
                                      <h4 class="uppercase">qty</h4>
                                    </div>{%- assign condition_value = item.type | strip -%}{%- unless condition_value == "e348fd487d0102946c9179d2a94bb613" -%}<input type="number" pattern="^[0-9]+$" inputmode="numeric" id="quantity-af976f39aa1db90e9788f1216414baf7" name="quantity" min="1" class="w-commerce-commerceaddtocartquantityinput products_quantity" value="1">{%- endunless -%}
                                  </div><input type="submit" position-id="0031f219-29b9-273b-f745-7203259956d6" data-node-type="commerce-add-to-cart-button" data-loading-text="Adding to cart..." value="Add to Cart" aria-busy="false" aria-haspopup="dialog" class="w-commerce-commerceaddtocartbutton button-secondary">
                                  <a data-node-type="commerce-buy-now-button" data-default-text="Buy now" data-subscription-text="Subscribe now" aria-busy="false" aria-haspopup="false" class="w-commerce-commercebuynowbutton button-display-none" href="/checkout">Buy now</a>
                                {%- render "product-variants-data" product: item -%}{%- endform -%}
                                <div style="display:none" class="w-commerce-commerceaddtocartoutofstock products_out-of-stock">
                                  <div>This product is out of stock.</div>
                                </div>
                                <div data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror products_error">
                                  <div data-node-type="commerce-add-to-cart-error" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription." data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site." data-w-add-to-cart-select-all-options-error="Please select an option in each set.">Product is not available in this quantity.</div>
                                </div>
                              </div>
                              <div class="prodcuts_text-bottom">
                                <div class="margin-bottom margin-medium">
                                  <h4 class="uppercase">product info</h4>
                                </div>
                                <div class="products_description-item">
                                  <div class="products_description-question">
                                    <div class="products_description-left"><img src="{{ 'description.svg' | asset_url }}" loading="lazy" alt="Description icon" class="products_description-icon">
                                      <p>Description</p>
                                    </div><img src="{{ 'plus.svg' | asset_url }}" loading="lazy" alt="Plus icon" class="product_description-plus">
                                  </div>
                                  <div class="products_description-answer">
                                    <p class="products_description-text">{{ item.metafields.udesly['description'] }}</p>
                                  </div>
                                </div>
                                <div class="products_description-item">
                                  <div class="products_description-question">
                                    <div class="products_description-left"><img src="{{ 'delivery.svg' | asset_url }}" loading="lazy" alt="Truck icon" class="products_description-icon">
                                      <p>Delivery</p>
                                    </div><img src="{{ 'plus.svg' | asset_url }}" loading="lazy" alt="Plus icon" class="product_description-plus">
                                  </div>
                                  <div class="products_description-answer">
                                    <p class="products_description-text">{{ item.metafields.udesly['delivery'] }}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
{%- endfor -%}
{% endcapture %}
{% assign items_length = listItems | strip | size %}
<div class="products_collection-wrapper w-dyn-list" udy-collection="product">
                  {%- unless items_length == 0 -%}<div role="list" class="products_collection-list w-dyn-items">
                    {{ listItems }}
                  </div>{%- endunless -%}
                  {%- if items_length == 0 -%}<div class="empty-state-2 w-dyn-empty">
                    <div>No items found.</div>
                  </div>{%- endif -%}
                </div>