{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "62fa6c5b9ad0001074b27138" -%}{%- assign bodyClasses = "" -%}
  <div class="page-wrapper">
    {%- render 'global-styles' -%}
    {%- render 'nav' -%}
    <main class="main-wrapper">
      <section class="section-home-hero">
        <div class="page-padding home-container">
          <div data-w-id="b943076c-c0ed-8eb4-5a93-4f7e7157f2e4" style="opacity:0" class="home-hero_component">
            <div class="margin-bottom margin-small">
              <h1 class="uppercase hero-header">{{ 't592e4bec' | t }}</h1>
            </div>
            <div class="margin-bottom margin-large margin-top">
              <div class="max-width-small mobile-max-width-0">
                <p class="text-size-large hero-text">{{ 'tn316069f' | t }}</p>
              </div>
            </div>
            <a href="#section-shop" class="button hero-btn w-button">{{ 'tn10d26d54' | t }}</a>
          </div>
        </div>
      </section>
      <section class="section-home-marquee">
        <div class="home-marquee_component">
          <div class="home-marquee_horizontal-css w-embed">
            <style>
.home-marquee_wrapper {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee-horizontal 50s linear infinite; 
  /* manipulate the speed of the marquee by changing "40s" line above*/
}
@keyframes marquee-horizontal {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
</style>
          </div>
          <div class="home-marquee_wrapper">
            <h2 class="display-heading">{{ 't3046cea0' | t }}</h2>
            <h2 class="display-heading">{{ 't3046cea0' | t }}</h2>
            <h2 class="display-heading">{{ 't3046cea0' | t }}</h2>
            <h2 class="display-heading">{{ 't3046cea0' | t }}</h2>
          </div>
        </div>
      </section>
      <section class="section-home-about">
        <div class="page-padding">
          <div class="margin-vertical margin-xxhuge no-mg-btm">
            <div class="home-about_component">
              <div class="home-about_bottom">
                <div data-delay="4000" data-animation="slide" class="home-about_slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
                  <div class="home-about_slider-mask w-slider-mask">
                    <div class="home-about_slider-slide w-slide"><img src="{{ 'candles-on-the-wooden-tray_candle-label-1.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 94vw, (max-width: 991px) 92vw, 90vw" srcset="{{ 'candles-on-the-wooden-tray_candle-label-1-p-500.jpg' | asset_url }} 500w, {{ 'candles-on-the-wooden-tray_candle-label-1-p-800.jpg' | asset_url }} 800w, {{ 'candles-on-the-wooden-tray_candle-label-1-p-1080.jpg' | asset_url }} 1080w, {{ 'candles-on-the-wooden-tray_candle-label-1-p-1600.jpg' | asset_url }} 1600w, {{ 'candles-on-the-wooden-tray_candle-label-1-p-2000.jpg' | asset_url }} 2000w, {{ 'candles-on-the-wooden-tray_candle-label-1.jpg' | asset_url }} 2600w" alt="" class="home-about_slider-image"></div>
                    <div class="home-about_slider-slide w-slide"><img src="{{ 'candles-on-the-wooden-tray_candle-label-3.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 94vw, (max-width: 991px) 92vw, 90vw" srcset="{{ 'candles-on-the-wooden-tray_candle-label-3-p-500.jpg' | asset_url }} 500w, {{ 'candles-on-the-wooden-tray_candle-label-3-p-800.jpg' | asset_url }} 800w, {{ 'candles-on-the-wooden-tray_candle-label-3-p-1080.jpg' | asset_url }} 1080w, {{ 'candles-on-the-wooden-tray_candle-label-3-p-1600.jpg' | asset_url }} 1600w, {{ 'candles-on-the-wooden-tray_candle-label-3-p-2000.jpg' | asset_url }} 2000w, {{ 'candles-on-the-wooden-tray_candle-label-3.jpg' | asset_url }} 2600w" alt="" class="home-about_slider-image"></div>
                    <div class="home-about_slider-slide w-slide"><img src="{{ 'candles-on-the-wooden-tray_candle-label-2.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 94vw, (max-width: 991px) 92vw, 90vw" srcset="{{ 'candles-on-the-wooden-tray_candle-label-2-p-500.jpg' | asset_url }} 500w, {{ 'candles-on-the-wooden-tray_candle-label-2-p-800.jpg' | asset_url }} 800w, {{ 'candles-on-the-wooden-tray_candle-label-2-p-1080.jpg' | asset_url }} 1080w, {{ 'candles-on-the-wooden-tray_candle-label-2-p-1600.jpg' | asset_url }} 1600w, {{ 'candles-on-the-wooden-tray_candle-label-2-p-2000.jpg' | asset_url }} 2000w, {{ 'candles-on-the-wooden-tray_candle-label-2.jpg' | asset_url }} 2600w" alt="" class="home-about_slider-image"></div>
                  </div>
                  <div class="home-about_arrow-left w-slider-arrow-left">
                    <div class="embed-arrow-left w-embed"><svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="40" cy="40" r="40" fill="white"></circle>
                        <circle class="inner-circle" cx="40" cy="40" r="31" transform="rotate(-180 40 40)" fill="#D4E3D3" stroke="#292929" stroke-width="2"></circle>
                        <path class="inner-arrow" d="M23.4697 39.4697C23.1768 39.7626 23.1768 40.2374 23.4697 40.5303L28.2426 45.3033C28.5355 45.5962 29.0104 45.5962 29.3033 45.3033C29.5962 45.0104 29.5962 44.5355 29.3033 44.2426L25.0607 40L29.3033 35.7574C29.5962 35.4645 29.5962 34.9896 29.3033 34.6967C29.0104 34.4038 28.5355 34.4038 28.2426 34.6967L23.4697 39.4697ZM56 39.25L24 39.25L24 40.75L56 40.75L56 39.25Z" fill="#292929"></path>
                      </svg>
                      <style>
	.inner-circle {
  	transition: all .3s ease-in-out;
  }
	.embed-arrow-left:hover .inner-circle {
  	fill: #292929;  
  }
  .embed-arrow-left:hover .inner-arrow {
   fill: white;
  }
</style>
                    </div>
                  </div>
                  <div class="home-about_arrow-right w-slider-arrow-right">
                    <div class="embed-arrow-right w-embed"><svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="40" cy="40" r="40" fill="white"></circle>
                        <circle class="inner-circle" cx="40" cy="40" r="31" fill="#D4E3D3" stroke="#292929" stroke-width="2"></circle>
                        <path class="inner-arrow" d="M56.5303 40.5303C56.8232 40.2374 56.8232 39.7626 56.5303 39.4697L51.7574 34.6967C51.4645 34.4038 50.9896 34.4038 50.6967 34.6967C50.4038 34.9896 50.4038 35.4645 50.6967 35.7574L54.9393 40L50.6967 44.2426C50.4038 44.5355 50.4038 45.0104 50.6967 45.3033C50.9896 45.5962 51.4645 45.5962 51.7574 45.3033L56.5303 40.5303ZM24 40.75H56V39.25H24V40.75Z" fill="#292929"></path>
                      </svg>
                      <style>
	.inner-circle {
  	transition: all .3s ease-in-out;
  }
	.embed-arrow-right:hover .inner-circle {
  	fill: #292929;  
  }
  .embed-arrow-right:hover .inner-arrow {
   fill: white;
  }
</style>
                    </div>
                  </div>
                  <div class="slide-nav w-slider-nav w-round"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section data-w-id="b4fc9d17-d24a-7305-c6ea-e42b367bb2c8" class="section-home-app">
        <div class="page-padding">
          <div class="margin-vertical margin-xxhuge">
            <div class="home-shop_title">
              <h2>{{ 'tn5d0ca1c3' | t }}</h2>
            </div>
            <div class="home-app_component">
              <div id="w-node-_8d226bc7-ab5b-824a-02e7-b73bf65c0199-74b27138" class="home-app_image">
                <div class="embed-blob w-embed"><svg width="100%" height="" viewBox="0 0 580 589" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M256.851 2.15344C320.502 8.94845 368.055 56.6343 420.499 93.3383C474.103 130.854 541.039 157.62 565.624 218.254C590.83 280.421 577.394 352.534 550.513 413.996C525.292 471.666 479.065 519.171 422.208 546.174C371.12 570.436 313.187 548.472 256.851 553.461C192.311 559.176 124.542 610.425 68.7548 577.472C13.3244 544.73 5.25258 466.121 0.321086 401.931C-3.83177 347.877 33.4896 302.545 43.5398 249.271C55.8964 183.771 22.1291 105.917 65.6835 55.46C109.995 4.1264 189.421 -5.04504 256.851 2.15344Z" fill="#D4E3D3"></path>
                  </svg></div>
                <div class="home-app_image-components"><img src="{{ 'how-it-works.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 72vw, (max-width: 991px) 192px, (max-width: 6400px) 30vw, 1920px" srcset="{{ 'how-it-works-p-500.jpg' | asset_url }} 500w, {{ 'how-it-works-p-800.jpg' | asset_url }} 800w, {{ 'how-it-works-p-1080.jpg' | asset_url }} 1080w, {{ 'how-it-works-p-1600.jpg' | asset_url }} 1600w, {{ 'how-it-works.jpg' | asset_url }} 1920w" alt="" class="home-app_image-phone"><img src="{{ 'palm-leaf-a-min.png' | asset_url }}" loading="lazy" alt="palm leaf" class="image-plant"><img src="{{ 'palm-leaf-b-min.png' | asset_url }}" loading="lazy" alt="palm leaf" class="image-plant-2"></div>
              </div>
              <div data-w-id="7e9c15d9-2ab8-7a91-df9c-8ffaf95adbb9" style="opacity:0" class="home-app_text">
                <div class="margin-bottom margin-xxlarge btm-small">
                  <div class="max-width-medium"></div>
                </div>
                <div class="margin-bottom margin-small">
                  <p class="text-size-regular uppercase">{{ 't2918537b' | t }}<br>{{ 't7169d8b4' | t }}<br>{{ 't494e7451' | t }}<br>{{ 'tn3f6bafe5' | t }}</p>
                  <p class="text-size-regular uppercase hiw-two">{{ 't2918537b' | t }}<br>{{ 't7169d8b4' | t }}<br>{{ 't494e7451' | t }}<br>{{ 'tn3f6bafe5' | t }}</p>
                  <p class="text-size-regular uppercase hiw-three">{{ 't2918537b' | t }}<br>{{ 't7169d8b4' | t }}<br>{{ 't494e7451' | t }}<br>{{ 'tn3f6bafe5' | t }}</p>
                  <p class="text-size-regular uppercase hiw-four">{{ 't2918537b' | t }}<br>{{ 't7169d8b4' | t }}<br>{{ 't494e7451' | t }}<br>{{ 'tn3f6bafe5' | t }}</p>
                </div>
                <a href="#section-shop" class="button hiw-btn w-button">{{ 'tn10d26d54' | t }}</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="section-shop" data-w-id="5624ec67-6998-695f-e72a-1aaa8670175f" class="section-home-shop">
        <div class="page-padding">
          <div class="margin-vertical margin-xxhuge">
            <div class="home-shop_component">
              <div class="home-shop_bundle">
                <div class="home-shop_title">
                  <h2>{{ 't45743bdc' | t }}</h2>
                </div>
                {%- if settings.collection_home != blank -%}{%- render "markup_for_collection_home" -%}{%- else -%}{%- render "products_where_category_idin_categoryall_products_sorted_by_created_on" -%}{%- endif -%}
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    {%- render 'footer' -%}
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=62fa6c5a9ad00049cdb27132" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

